# Basic session

# String

In [ ]:
variable=value

In [10]:

# ctrl+?

string1="hello world. this is our first session"
string2='hello world. this is our first session'
string3=''' hello world. this is our first session'''

In [ ]:
char='''a  b c
        d e f
    '''

In [9]:
string3

' hello world.\n            this is our first session'

In [8]:
print(string3)

 hello world.
            this is our first session

In [3]:
string1

'hello world. this is our first session'

In [4]:
string2

'hello world. this is our first session'

In [11]:
string1
string2
string3

' hello world. this is our first session'

In [13]:
print("Test","test")

Test test

In [17]:
print("This is my first session ---This is my first session ***",string1)

This is my first session ---This is my first session *** hello world. this is our first session

In [12]:
print(string1)
print(string2)
print(string3)

hello world. this is our first session
hello world. this is our first session
 hello world. this is our first session

# numeric

In [27]:
# Int
intt=123456

In [23]:
intt='this is test'

In [24]:
print(intt)

this is test

In [20]:
# Floot
floot=1234.098767

In [21]:
floot

1234.098767

In [22]:
print(floot)

1234.098767

In [25]:
type(floot)

float

In [28]:
type(intt)

int

# sequences

## List

In [ ]:
lst=list([])
lst=list(variable)

In [78]:
lst1=[1,2,2,2,2,2,3,4,5,6,8,9,20,56]
# 0-
# 0-9

In [79]:
lst1

[1, 2, 2, 2, 2, 2, 3, 4, 5, 6, 8, 9, 20, 56]

In [31]:
type(lst1)

list

In [32]:
len(lst1)

10

In [33]:
lst1[2]

3

In [34]:
lst1[-10]

1

In [35]:
lst1

[1, 2, 3, 4, 5, 6, 8, 9, 20, 56]

In [36]:
lst1[2:]

[3, 4, 5, 6, 8, 9, 20, 56]

In [37]:
lst1[:7]

[1, 2, 3, 4, 5, 6, 8]

In [38]:
lst1[2:7]

[3, 4, 5, 6, 8]

In [39]:
lst_char=['a','b','c','d']

In [40]:
lst_char

['a', 'b', 'c', 'd']

In [45]:
lst_char=['this is test',' this is train',' this is validation','this is train test validation']

In [46]:
lst_char

['this is test',
 ' this is train',
 ' this is validation',
 'this is train test validation']

In [47]:
lst_char[0]

'this is test'

In [48]:
lst_char[-1]

'this is train test validation'

In [49]:
lst_char[1:]

[' this is train', ' this is validation', 'this is train test validation']

In [50]:
lst_char[2:3]

[' this is validation']

In [51]:
lst_char_num=[10,"test",20,"train",30,"validation",40,"crossvalidation"]

In [52]:
lst_char_num

[10, 'test', 20, 'train', 30, 'validation', 40, 'crossvalidation']

In [53]:
lst_char_num[-1]

'crossvalidation'

In [54]:
lst_char_num[0]

10

In [55]:
lst_char_num[1]="newtest"

In [56]:
lst_char_num

[10, 'newtest', 20, 'train', 30, 'validation', 40, 'crossvalidation']

In [57]:
lst_char_num[1]=100

In [58]:
lst_char_num

[10, 100, 20, 'train', 30, 'validation', 40, 'crossvalidation']

In [64]:
# lst=list([10,"test",20,"train",30,"validation",40,"crossvalidation"])
lst=list(string1)

In [66]:
lst

['h',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 '.',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'o',
 'u',
 'r',
 ' ',
 'f',
 'i',
 'r',
 's',
 't',
 ' ',
 's',
 'e',
 's',
 's',
 'i',
 'o',
 'n']

In [65]:
type(lst)

list

In [ ]:
type(lst_char_num)

In [ ]:
lst=list([])

In [ ]:
# replace positon 0 with 10 vlaue

## Tuple

In [ ]:
tup=tuple(lst_char_num)

In [ ]:
tup

In [75]:
tup=(10,10,10,10,20,30)

In [76]:
tup

(10, 10, 10, 10, 20, 30)

In [63]:
type(tup)

tuple

In [67]:
tup[0]

10

In [68]:
tup[-1]

30

In [69]:
tup[1:3]

(20, 30)

In [70]:
tup[0]=100

TypeError: 'tuple' object does not support item assignment

In [71]:
lst=list(tup)

In [72]:
lst[0]=100

In [73]:
lst

[100, 20, 30]

In [74]:
type(lst)

list

## set

In [ ]:
sett={}
sett=set(variable)

In [89]:
# see={1,1,1,2,3,4,5,6}
see={10,20,7,1,1,1,2,3,4,5,6}
lst=[1,1,1,2,3,4,5,6]
tup=(1,1,1,2,3,4,5,6)

In [87]:
# see={"a","a","c","d"}
see={"z","t","a","a","c","d"}
lst=["z","x","y","y"]
tup=("q","w","r","w")

In [90]:
see

{1, 2, 3, 4, 5, 6, 7, 10, 20}

In [81]:
see[0]

TypeError: 'set' object does not support indexing

In [83]:
lst

[1, 1, 1, 2, 3, 4, 5, 6]

In [84]:
tup

(1, 1, 1, 2, 3, 4, 5, 6)

In [ ]:
#conversion
# List to Set
# Set to List

In [95]:
set(tup)

{1, 2, 3, 4, 5, 6}

In [93]:
tup(see)

TypeError: 'tuple' object is not callable

# #dict

In [ ]:
dictt=dict(variable)
dictt={"class_name" : class_value , "class_name1" : class_value1}
dictt={"class_name" : [class_value1,class_value2,..,class_valuen] , "class_name1" : [class_value1,class_value2,..,class_valuen]}

In [96]:
dictt={"country" : "India" , "Income" : 100000}

In [98]:
dictt={"state" : ["AP","TN","KA"] , "Income" : [100,200,300]}

In [97]:
dictt

{'country': 'India', 'Income': 100000}

In [102]:
dictt['state'][0]

'AP'

In [99]:
dictt['state']

['AP', 'TN', 'KA']

In [100]:
dictt.keys()

dict_keys(['state', 'Income'])

In [103]:
dictt['Income']

[100, 200, 300]

In [104]:
dictt['Income'][2]

300

In [ ]:
dictt

In [105]:
dictt.keys()

dict_keys(['state', 'Income'])

In [ ]:
dictt['country']