# Basic session

# String

In [ ]:
variable=value

In [7]:

#ctrl+?

# string1="hello world. this is our first session"
# string2='hello world. this is our first session'
# string3=''' hello world. this is our first session'''

In [8]:
# string1
# string2
# string3

' hello world. this is our first session'

In [9]:
print(string3)

 hello world. this is our first session

In [12]:
stt='''hello world.
this is our first session
'''

In [15]:
stt='hello world.
this is our first session
'

SyntaxError: EOL while scanning string literal (<ipython-input-15-c8b120e06f99>, line 1)

In [13]:
stt

'hello world.\nthis is our first session\n'

In [14]:
print(stt)

hello world.
this is our first session

# numeric

In [17]:
x=100

In [18]:
x

100

In [19]:
print(x)

100

In [20]:
y=100.0987

In [21]:
y

100.0987

In [22]:
print(y)

100.0987

In [25]:

# stt,x,y
type(stt)
type(x)
type(y)

float

In [27]:
print("hello world, this is first session")
print("hello world, this is second session")

hello world, this is first session
hello world, this is second session

In [29]:
print(x)
print(y)

100
100.0987

# sequences

## List

In [ ]:
lst=list([])
lst=list(variable)

In [30]:
lst=[1,2,3,4,5]
# lst=["a","b","c","d","e"]

In [32]:
lst
print(lst)

[1, 2, 3, 4, 5]

In [33]:
lst[0]

1

In [34]:
lst[4]

5

In [35]:
lst[0:4]

[1, 2, 3, 4]

In [36]:
lst

[1, 2, 3, 4, 5]

In [37]:
# replace positon 0 with 10 vlaue
lst[0]=10

In [38]:
lst

[10, 2, 3, 4, 5]

In [39]:
lst[-1]

5

In [40]:
lst[-2:]

[4, 5]

## Tuple

In [ ]:
tup=tuple(variable)

In [41]:
tup=(1,2,3,4,5)

In [44]:
tup(0)

TypeError: 'tuple' object is not callable

In [46]:
tup[0]

1

In [47]:
tup[-2:]

(4, 5)

In [48]:
tup[0:-1]

(1, 2, 3, 4)

In [49]:
#we can not reassign values to tuple values
tup[0]=10

TypeError: 'tuple' object does not support item assignment

## set

In [ ]:
sett={}
sett=set(variable)

In [50]:
sett={"a","b","c","d"}

In [51]:
sett

{'a', 'b', 'c', 'd'}

In [52]:
sett{0}

SyntaxError: invalid syntax (<ipython-input-52-933719eb442a>, line 1)

In [53]:
sett[0]

TypeError: 'set' object does not support indexing

In [54]:
sett={"a","a","b","c","c","z","d"}

In [55]:
sett

{'a', 'b', 'c', 'd', 'z'}

In [ ]:
#conversion

In [56]:
lst1=[1,2,3,4,5,100,2,3,4,5]

In [57]:
lst1

[1, 2, 3, 4, 5, 100, 2, 3, 4, 5]

In [58]:
seq_set=set(lst1)

In [59]:
seq_set

{1, 2, 3, 4, 5, 100}

In [60]:
type(seq_set)

set

In [61]:
lst2=list(seq_set)

In [62]:
lst2

[1, 2, 3, 4, 5, 100]

In [63]:
type(lst2)

list

In [64]:
lst2[0:-1]

[1, 2, 3, 4, 5]

In [66]:
lst2[-1]

[]

# #dict

In [ ]:
dictt=dict(variable)
dictt={"class_name" : class_value , "class_name1" : class_value1}
dictt={"class_name" : [class_value1,class_value2,..,class_valuen] , "class_name1" : [class_value1,class_value2,..,class_valuen]}

In [71]:
dictt={ "states" : "KA" ,"corona_cases" : 2000}

In [72]:
dictt

{'states': 'KA', 'corona_cases': 2000}

In [70]:
dictt1={ "states" : ["KA","AP","OD","UP"] ,"corona_cases" : [2000,3000,4000,5000]}

In [73]:
dictt1

{'states': ['KA', 'AP', 'OD', 'UP'], 'corona_cases': [2000, 3000, 4000, 5000]}

In [75]:
dictt1["states"][0:3]

['KA', 'AP', 'OD']

In [76]:
dictt1["states"][-3]

'AP'

In [77]:
dictt1["corona_cases"][-3]

3000

In [78]:
dictt1["corona_cases"][0:-3]

[2000]

In [79]:
dictt1["corona_cases"][-3:]

[3000, 4000, 5000]