In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Variance Threshold
It removes all features whose variance doesnâ€™t meet some threshold.

Var[X] =p(1-p)

Example: 80%  ---.8(1-.8)

In [2]:
from sklearn.feature_selection import VarianceThreshold
sales_info = pd.DataFrame([[0, 0, 1], [0, 1, 0], [1, 0, 0], [0, 1, 1], [0, 1, 0], [0, 1, 1]],columns=["Eelctronics","Clothings","Footware"])

In [3]:
print("0 - Not_Purchased \n 1 - Purchased")
sales_info

0 - Not_Purchased
 1 - Purchased

   Eelctronics  Clothings  Footware
0            0          0         1
1            0          1         0
2            1          0         0
3            0          1         1
4            0          1         0
5            0          1         1

In [4]:
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
sales_info_modified=pd.DataFrame(sel.fit_transform(sales_info),columns=["Clothings","Footware"])
sales_info_modified

   Clothings  Footware
0          0         1
1          1         0
2          0         0
3          1         1
4          1         0
5          1         1

# Encoding categorical features

In [5]:
from sklearn import preprocessing
enc = preprocessing.OrdinalEncoder()

In [6]:
df_cate=pd.read_excel(r"C:\Paramatma_Pulivarthi\Data_Science_course\Examples.xlsx",sheet_name='Data_import_cat')

In [7]:
df_cates=df_cate[['Products']]

In [8]:
# df_cates

In [9]:
pd.DataFrame(enc.fit_transform(df_cates),columns=["products"])

    products
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
5        1.0
6        1.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       2.0
15       2.0
16       2.0
17       2.0
18       2.0
19       2.0

# Frequency table or contingency Tables

In [39]:
df_contin=pd.read_excel(r"C:\Paramatma_Pulivarthi\Data_Science_course\Examples.xlsx",sheet_name='Cros_tab_1')

In [40]:
df_contin

    S.No  Gender     Products
0      1    Male  Electronics
1      2  Female  Electronics
2      3    Male  Electronics
3      4    Male  Electronics
4      5  Female  Electronics
5      6    Male  Electronics
6      7  Female  Electronics
7      8  Female    Clothings
8      9    Male    Clothings
9     10  Female    Clothings
10    11  Female    Clothings
11    12  Female    Clothings
12    13  Female    Clothings
13    14    Male    Clothings
14    15    Male     Footware
15    16    Male     Footware
16    17    Male     Footware
17    18    Male     Footware
18    19  Female     Footware
19    20  Female     Footware

In [41]:
# df_contin
# pandas.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False
df_contin.columns

Index(['S.No', 'Gender', 'Products'], dtype='object')

In [42]:
#Generate the frequency table/Contingency table 
pd.crosstab(df_contin['Products'],df_contin['Gender'])

Gender       Female  Male
Products
Clothings         5     2
Electronics       3     4
Footware          2     4

In [43]:
#Generate the frequency table/Contingency table with Total
pd.crosstab(df_contin['Products'],df_contin['Gender'],margins=True)

Gender       Female  Male  All
Products
Clothings         5     2    7
Electronics       3     4    7
Footware          2     4    6
All              10    10   20

In [44]:
#Generate the frequency table/Contingency table with Overall percentages 
pd.crosstab(df_contin['Products'],df_contin['Gender'],normalize=True,margins=True,margins_name='Total')

Gender       Female  Male  Total
Products
Clothings      0.25   0.1   0.35
Electronics    0.15   0.2   0.35
Footware       0.10   0.2   0.30
Total          0.50   0.5   1.00

In [45]:
#Generate the frequency table/Contingency table with columns percentages
pd.crosstab(df_contin['Products'],df_contin['Gender'],normalize='columns',margins=True,margins_name='Total')

Gender       Female  Male  Total
Products
Clothings       0.5   0.2   0.35
Electronics     0.3   0.4   0.35
Footware        0.2   0.4   0.30

In [46]:
#Generate the frequency table/Contingency table with Row percentages
pd.crosstab(df_contin['Products'],df_contin['Gender'],normalize='index',margins=True,margins_name='Total')

Gender         Female      Male
Products
Clothings    0.714286  0.285714
Electronics  0.428571  0.571429
Footware     0.333333  0.666667
Total        0.500000  0.500000

# Chi-Square Test

In [47]:
df_chi_popvar_hypvar=pd.read_excel(r"C:\Paramatma_Pulivarthi\Data_Science_course\Examples_chisquare.xlsx",sheet_name='popvar_hypvar')

# Hypothesis/Statement:
The sales variance is no more than 0.16

In [48]:
df_chi_popvar_hypvar

    Festival_Seasons    Product  Sales
0                  1  Clothings  250.0
1                  2  Clothings  230.0
2                  3  Clothings  240.0
3                  4  Clothings  230.0
4                  5  Clothings  250.0
5                  6  Clothings  270.0
6                  7  Clothings  250.0
7                  8  Clothings  260.0
8                  9  Clothings  260.0
9                 10  Clothings  270.0
10                11  Clothings  250.0

#Null Hypothesis:
There is no difference between the hypothetical variance(0.16) and population variance
H0 : sigma2 =0.16

#Alternative Hypothesis:
There is difference between the hypothetical variance(0.16) and population variance
H1: sigma2>0.16
    
#Level of significance
Alpha=(0.05)  i,e 95% confidence

#Test statistic
Application: To test if the hypothetical value of the population variance is sigma2=(sigma0)2
Chisquare Test

In [49]:
from scipy.stats import chisquare
# scipy.stats.chisquare(f_obs, f_exp=None, ddof=0, axis=0) 
#retrun chisquare and p- value
popvar_hypvar_chi, popvar_hypvar_p =chisquare(df_chi_popvar_hypvar['Sales'])
print("********** Chi-Square Value ************ \n",popvar_hypvar_chi," \n ******** p-value ********** \n",popvar_hypvar_p)

********** Chi-Square Value ************
 7.5362318840579805
 ******** p-value **********
 0.6740350580541585

In [50]:
alpha = 0.05
if popvar_hypvar_p <= alpha: 
    print("*****************  Reject the Null Hypothesis ************* \n There is difference between the hypothetical variance(0.16) and population variance \n H1: sigma2>0.16 \n") 
else: 
    print("*****************  Accept the Null Hypothesis ************* \n There is no difference between the hypothetical variance(0.16) and population variance \n H0 : sigma2 =0.16 \n")

*****************  Accept the Null Hypothesis *************
 There is no difference between the hypothetical variance(0.16) and population variance
 H0 : sigma2 =0.16

# Goodness of Fit 
To test the significance of the discrepancy between theory and experiment.

The dependency and independency between the data.

In [51]:
df_chi_gf=pd.read_excel(r"C:\Paramatma_Pulivarthi\Data_Science_course\Examples_chisquare.xlsx",sheet_name='Goodness_of_fit')

In [52]:
df_chi_gf

           Product    Week  No_of_accts
0  Saving Accounts    Mon.         1124
1  Saving Accounts    Tue.         1125
2  Saving Accounts    Wen.         1110
3  Saving Accounts  Thurs.         1120
4  Saving Accounts    Fri.         1126
5  Saving Accounts    Sat.         1115

# Hypothesis/Statement:
The No_of_accounts opened per a day does not depend on the day of the week


#Null Hypothesis:
H0: The No_of_accounts opened per a day does not depend on the day of the week

#Alternative Hypothesis:
H1: The No_of_accounts opened per a day depend on the day of the week

#Level of significance
Alpha=(0.05)  i,e 95% confidence

#Test statistic
Application:Goodness of fit.
Chisquare Test

In [53]:
from scipy.stats import chisquare
gf_chi, gf_p =chisquare(df_chi_gf['No_of_accts'])
print("********** Chi-Square Value ************ \n",gf_chi," \n ******** p-value ********** \n",gf_p)

********** Chi-Square Value ************
 0.18035714285714285
 ******** p-value **********
 0.9993108903947044

In [54]:
alpha = 0.05
if gf_p <= alpha: 
    print("*****************  Reject the Null Hypothesis ************* \n The No_of_accounts opened per a day depend on the day of the week \n") 
else: 
    print("*****************  Accept the Null Hypothesis ************* \n The No_of_accounts opened per a day does not depend on the day of the week \n")

*****************  Accept the Null Hypothesis *************
 The No_of_accounts opened per a day does not depend on the day of the week

# Independence of Attributes-Contingency Tables

In [55]:
df_chi_ia=pd.read_excel(r"C:\Paramatma_Pulivarthi\Data_Science_course\Examples_chisquare.xlsx",sheet_name='Ind_Att')

In [62]:
# df_chi_ia.shape
# df_chi_ia.head()
# df_chi_ia.Area.unique()
df_chi_ia.Votes.unique()

array(['Candidate-A', 'Candidate-B'], dtype=object)

# Hypothesis/Statement:
The nature of the area is related to voting preference in this election


#Null Hypothesis:
H0: The nature of the area is independent of the voting preference in the election

#Alternative Hypothesis:
H1: The nature of the area is dependent of the voting preference in the election

#Level of significance
Alpha=(0.05)  i,e 95% confidence

#Test statistic
Application:Independence of Attributes-Contngency tables
Chisquare Test

In [63]:
df_cross=pd.crosstab(df_chi_ia['Area'],df_chi_ia['Votes'])

In [64]:
df_cross

Votes  Candidate-A  Candidate-B
Area
Rural          620          379
Urban          551          450

In [66]:
from scipy.stats import chi2_contingency
ia_chi, ia_p,ia_dof,ia_exfreq =chi2_contingency(df_cross)
print("********** Chi-Square Value ************ \n",ia_chi," \n ******** p-value ********** \n",ia_p," \n ********Degrees of freedom ********** \n",ia_dof," \n ******** Expected frequency ********** \n",ia_exfreq)

********** Chi-Square Value ************
 9.85750742590495
 ******** p-value **********
 0.0016914011136210175
 ********Degrees of freedom **********
 1
 ******** Expected frequency **********
 [[584.9145 414.0855]
 [586.0855 414.9145]]

In [67]:
alpha = 0.05
if ia_p <= alpha: 
    print("*****************  Reject the Null Hypothesis ************* \n The nature of the area is dependent of the voting preference in the election \n") 
else: 
    print("*****************  Accept the Null Hypothesis ************* \n The nature of the area is independent of the voting preference in the election \n")

*****************  Reject the Null Hypothesis *************
 The nature of the area is dependent of the voting preference in the election

# t-Test - one sample test
It is sampling test. 

Samplesize should less than 30.

# Hypothesis/Statement:
FD's for day is 3.
After adevertising a campaign need to check bussiness become success or not

In [68]:
dft_sm_pm=pd.read_excel(r"C:\Paramatma_Pulivarthi\Data_Science_course\Examples_chisquare.xlsx",sheet_name='T_smean_pmean')

In [69]:
dft_sm_pm

           Product  Sales
0   Fixed Deposite      3
1   Fixed Deposite     10
2   Fixed Deposite      9
3   Fixed Deposite      4
4   Fixed Deposite      7
5   Fixed Deposite      8
6   Fixed Deposite      8
7   Fixed Deposite      0
8   Fixed Deposite      2
9   Fixed Deposite      1
10  Fixed Deposite      4
11  Fixed Deposite      2
12  Fixed Deposite      8
13  Fixed Deposite      1
14  Fixed Deposite      5
15  Fixed Deposite      8
16  Fixed Deposite      1
17  Fixed Deposite      8
18  Fixed Deposite      6
19  Fixed Deposite      1
20  Fixed Deposite      3
21  Fixed Deposite      9
22  Fixed Deposite      8
23  Fixed Deposite      1

#Null Hypothesis:
H0: The advertising campaign is not successful

#Alternative Hypothesis:
H1: The advertising campaign is successful

#Level of significance
Alpha=(0.05)  i,e 95% confidence

#Test statistic
Application: To test sample mean differ significantly from the hypothetical value of population mean
t- Test

In [70]:
# scipy.stats.ttest_1samp(a, popmean, axis=0, nan_policy='propagate')
from scipy.stats import ttest_1samp
os_t,os_p=ttest_1samp(dft_sm_pm['Sales'],3)
print("********** t-test Value ************ \n",os_t," \n ******** p-value ********** \n",os_p)

********** t-test Value ************
 2.793819941272772
 ******** p-value **********
 0.010315420612776393

In [71]:
alpha = 0.05
if os_p <= alpha: 
    print("*****************  Reject the Null Hypothesis ************* \n The advertising campaign is successful \n") 
else: 
    print("*****************  Accept the Null Hypothesis ************* \n The advertising campaign is not successful \n")

*****************  Reject the Null Hypothesis *************
 The advertising campaign is successful

# Two sample test

# Assumptions:
Sample drawn from Normal population

Population variance are equal /unknown

samples are independent each other.

# Hypothesis/Statement:
Need to check two diets for Gain in weight are differ or not

In [72]:
dft_two=pd.read_excel(r"C:\Paramatma_Pulivarthi\Data_Science_course\Examples_chisquare.xlsx",sheet_name='t_twosample')

In [73]:
dft_two

    Diet_A  Diet_B
0       25      44
1       32      34
2       30      22
3       34      10
4       24      47
5       14      31
6       32      40
7       24      30
8       30      32
9       31      35
10      35      18
11      35      21
12       0      35
13       0      29
14       0      22


#Null Hypothesis:
H0: There is no significance difference between the mean increase in weight due to diet A and B

#Alternative Hypothesis:
H1: There is a significance difference between the mean increase in weight due to diet A and B

#Level of significance
Alpha=(0.05)  i,e 95% confidence

#Test statistic
Application: To test difference between two sample means 
t- Test

In [74]:
# scipy.stats.ttest_ind(a, b, axis=0, equal_var=True, nan_policy='propagate')
from scipy.stats import ttest_ind
two_t,two_p=ttest_ind(dft_two['Diet_A'],dft_two['Diet_B'])
print("********** t-test Value ************ \n",two_t," \n ******** p-value ********** \n",two_p)

********** t-test Value ************
 -1.6262767018110387
 ******** p-value **********
 0.11509457601373548

In [76]:
alpha = 0.05
if two_t <= alpha: 
    print("*****************  Reject the Null Hypothesis ************* \n There is significance difference between the mean increase in weight due to diet A and B \n") 
else: 
    print("*****************  Accept the Null Hypothesis ************* \n There is no significance difference between the mean increase in weight due to diet A and B \n")

*****************  Reject the Null Hypothesis *************
 There is significance difference between the mean increase in weight due to diet A and B